# ignore pycache files
__pycache__/

# Ignore everything inside DATA
/DATA/*

# Allow Placenta folder itself and ignore all its contents
!DATA/Placenta/
DATA/Placenta/*

# Only unignore this subfolder
!DATA/Placenta/preprocessed_visualisations/
!DATA/Placenta/preprocessed_visualisations/**

# Data for training and testing
src/data/Placenta/
src/data/Placenta/**